.inputBox {
  display: block;
  width: 200px;
}

label {
  font-size: 0.7em;
  color: black;
}

input {
  padding: 2px;
  width: 200px;
}

.inputError {
  border: 2px solid red;
  &Msg {
    margin-top: 0.5em;
    font-size: 0.7em;
    color: red;
  }
}
