.inputContainer {
  // min-width: auto;
  // max-width: 100%;
}

.clearBtn {
  // position
  position: absolute;
  right: 6px;
  top: 13px;
  // appearance
  justify-content: center;
  align-items: center;
  // width: 16px;
  // height: 16px;
  appearance: none;
  border: none;
  border-radius: 50%;
  // background: gray;
  // color: white;
  // font-size: 16px;
  // font-family: sans-serif;
  cursor: pointer;
  // display: none;
  display: inline-flex;

  svg {
    &:hover {
      fill: lightgrey;
    }

    // path {
    //   &:hover {
    //     stroke-width: 10;
    //   }
    // }
  }

  // &:hover {
  //   background-color: darkgray;
  // }
}

// .clearBtnSvg {
//   &:hover {
//     fill: orange;
//   }
// }

.inputWrapper {
  display: inline-block;
  position: relative;
  width: 200px;

  input {
    margin-top: 0.5em;
    padding: 8px;
    width: 100%;
  }

  // button {
  //   // position
  //   position: absolute;
  //   right: 2px;
  //   top: 2px;
  //   // appearance
  //   justify-content: center;
  //   align-items: center;
  //   width: 16px;
  //   height: 16px;
  //   appearance: none;
  //   border: none;
  //   border-radius: 50%;
  //   background: gray;
  //   // margin: 0;
  //   // padding: 0;
  //   color: white;
  //   font-size: 16px;
  //   font-family: sans-serif;
  //   // overflow: visible;
  //   // line-height: 1.15;
  //   // font-weight: bold;
  //   // text-align: center;
  //   // vertical-align: auto;
  //   // display: flex;
  //   cursor: pointer;
  //   // display: none;
  //   display: inline-flex;

  //   &:hover {
  //     background-color: darkgray;
  //   }
  // }
}

// .inputClearBtn {
//   position: absolute;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   // justify-content: center;
//   // align-items: center;
//   width: 16px;
//   height: 16px;
//   appearance: none;
//   border: none;
//   border-radius: 50%;
//   background: gray;
//   margin: 0;
//   padding: 2px;
//   color: white;
//   font-size: 10px;
//   cursor: pointer;
//   // display: none;
// }

// .inputClearBtn:hover {
//   background-color: darkgray;
// }

// .inputText--touched:focus + .inputClearBtn,
// .inputText--hover + .inputClearBtn,
// .inputText--touched + .inputClearBtn:hover {
//   display: inline-flex;
// }

// .inputClear {
//   position: relative;
//   border: 1px solid transparent;
//   background-color: transparent;
//   display: inline-block;
//   vertical-align: middle;
//   outline: 0;
//   cursor: pointer;
// }
// .inputClear:after {
//   content: "x";
//   display: block;
//   width: 10px;
//   height: 10px;
//   position: absolute;
//   background-color: black;
//   z-index: 1;
//   right: 4px;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   padding: 2px;
//   border-radius: 50%;
//   text-align: center;
//   color: white;
//   font-weight: normal;
//   font-size: 8px;
//   box-shadow: 0 0 2px black;
//   cursor: pointer;
// }

label {
  font-size: 0.7em;
  color: black;
}

// .inputText {
//   padding: 2px;
//   width: 200px;
//   position: relative;
// }

// .inputText:not(:valid) ~ .inputClear {
//   display: none;
// }

.inputError {
  border: 2px solid red;
  &Msg {
    margin-top: 0.5em;
    font-size: 0.7em;
    color: red;
  }
}
