.dropdownContainer {
  // background-color: lavender;
  background-color: white;
  border: 1px solid slategray;
  box-sizing: border-box;
  width: 200px;
  overflow: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 16px;
    text-align: center;
    display: inline-block;
    width: 200px - 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li:last-child {
    border-bottom: none;
  }
}

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
//   // border-color: white;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }
